$bg-secondary: #BDBDBD;
$bg-blue: #4B51EF;
$color-white: #fff;
$sort_menu_bg: #BDBDBD;
$bg-body: #E5E5E5;
$bg-card-user: #F3F3F3;
$text-secondary: #A3A3A3;
$btn-secondary: #afafaf;
$btn-success: #52CF4F;
$danger: #D91313;